<head>
  <title>Pests and Diseases Library</title>
</head>

<template name="home">

    <div class="intro-header">        
        <div class="hi-icon-wrap hi-icon-effect-1 hi-icon-effect-1b">
			<i class="hi-icon fa  fa-search"><p>Search</p><a href="{{pathFor 'search'}}"></a></i>
				<i class="hi-icon fa  fa-bug"><p>Pests Library</p><a href="{{pathFor 'pests'}}"></a></i>
				<i class="hi-icon fa  fa-medkit"><p>Diseases Library</p><a href="{{pathFor 'diseases'}}"></a></i>		
		</div>
		<div class="container">
            
        </div>
    </div>
        
        
    <style>
    	.hi-icon-wrap{
    		margin-top:12%;
    	}

		#wrapper{
			background: url(/images/pests/RicePaddyBug.jpg) no-repeat center center ; 
			-webkit-background-size: cover;
			-moz-background-size: cover;
			-o-background-size: cover;
	  		background-size: cover;  		  
		}
		
	</style>
	
</template>