<template name="layout">
      
    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">

        <!-- Bootstrap Core CSS -->
        <link href="css/bootstrap.min.css" rel="stylesheet">

        <!-- Custom CSS -->
        <link href="css/modern-business.css" rel="stylesheet">

        <!-- Custom Fonts -->
        <link href="css/font-awesome.min.css" rel="stylesheet" type="text/css">

        <link href="css/hover-effect.css" rel="stylesheet" type="text/css">

        <script src="css/modernizr.custom.js"></script>

    </head>

    <body>
        {{> sAlert}}
        
        {{> header}}
        {{> errors}}

    <div id="wrapper">
        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav" id="sidebar">     
                <li class="{{activeRouteClass 'home'}}">
                    <a class="{{activeRouteClass 'home'}}" href="{{pathFor 'home'}}" id="home">Home<span class="fa fa-home sub_icon"></span></a>
                </li>
                <li class="{{activeRouteClass 'pests'}}">
                    <a class="{{activeRouteClass 'pests'}}" href="{{pathFor 'pests'}}">Pests<span class="fa fa-bug sub_icon"></span></a>
                </li>
                <li class="{{activeRouteClass 'diseases'}}">
                    <a class="{{activeRouteClass 'diseases'}}" href="{{pathFor 'diseases'}}">Diseases<span class="fa fa-medkit sub_icon"></span></a>
                </li>
                <li class="{{activeRouteClass 'search'}}">
                    <a class="{{activeRouteClass 'search'}}" href="{{pathFor 'search'}}">Search<span class="fa fa-search sub_icon"></span></a>
                </li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                {{> yield}}
            </div>


        </div>
        <!-- /#page-content-wrapper -->

                
        <footer class="footer">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-12">
                            <p>Copyright &copy; Pests and Diseases Library 2016</p>
                        </div>
                    </div>
                </div>
            </footer>     


    </div>
    <!-- /#wrapper -->
       

    </body>

    <script>
      $("#menu-toggle").click(function(e) {
          e.preventDefault();
          
          $("#wrapper").toggleClass("toggled");   
          $(".spacer").css("padding-top: 40px");
          
              
      });


      if ( document.location.pathname == "/" ){
          $("#wrapper").addClass("toggled");            
      }

      
    </script>
      
</template>
