body {
    overflow-x: hidden;
    background: #fff !important;
}

/* Toggle Styles */

#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;

    min-height:100%;   

    padding-top: 40px;

    overflow: hidden;
    position: relative;
    width: 100%;
}

#wrapper.toggled {
    padding-left: 250px;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    margin-top: 11px;
    overflow-y: auto;
    background: #d4dade;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}

#page-content-wrapper {
    width: 100%;
    padding: 15px;

    padding-bottom:100px;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
}

/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav .active a{
    color: #000;
    background: rgba(255,255,255,0.2);
    text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #000;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    background: rgba(255,255,255,0.3);
    text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;  
    background: rgba(255,255,255,0.3);
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
    color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}

.sub_icon{
  float:right;
  padding-right: 65px;
  padding-top:10px;
}

.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:active, 
.navbar-inverse .navbar-nav>.open>a:focus, .navbar-inverse .navbar-nav>.open>a:hover,
.navbar-inverse .navbar-nav > li > a:hover{
  background: #4d8651 !important;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
}

.navbar-inverse .navbar-brand, .navbar-inverse .navbar-nav > li > a  {
    color: #fff !important;
}

.navbar-inverse{
    background-color: #4c9452 !important;
    border-color: #4c9452 !important;
}

.img-item{
    padding: 5px;    
    color: #333;
}

.img-item h3{
    margin-top: 10px !important;
}

.spacer{
    padding-top: 20px;
}

/* centered columns styles */
.row-centered {
    text-align: center !important;
}
.col-centered {
    display: inline-block !important;
    float: none !important;
    text-align: left !important;    
}

.portfolio-item{
  display: block;    
  width: 225px !important;
  line-height: 1.42857143;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
    
  transition: border .2s ease-in-out;
  
  position: relative;
    
  padding: 0px !important;
  margin: 15px;
  margin-bottom: 20px;
}

.portfolio-item:hover {
    box-shadow: 9px 13px 26px -8px #2d3134;
}

div.image {
    vertical-align: middle;
    height: 220px;
    
    border: 0;
}

.portfolio-item .caption {
  padding: 2px;
  text-align: center;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;    
    background: rgba(27, 26, 26, 0.55);
}

.portfolio-item .caption a{
  font-size:;
  color: #fff;
}

.portfolio-item .caption a:hover{
  color: #00c6ff;
  text-decoration: none;
  cursor: pointer;
    transition: .3s ease-in-out;
}

.portfolio-item h4{
  font-size: 16px;
    font-weight: 300;
}

.list-group-item{
    color: #333; 
    padding-bottom: 0px !important;
}

.home{
  color: #333;
}

.img-item hr{
    border-top: 1px solid #ddd;
    margin-top: 0px;
    margin-bottom: 0px;
}

.img-item .sub-info{
    padding-right: 5px;
    padding-left: 5px;
    
}

.top-line{
  margin-left:10px;
  margin-right:10px;
  border-top: 1px solid #ddd;
  padding-top: 8px;

}



.footer {
  padding: 10px;
  border-top: 1px solid #d2d6de;
  background: #fff;
  color: #444;
  width:100%;
  height:40px;
  position:absolute;
  bottom:0;  
}


@media(max-width:768px) {
  .footer{
    left:0;
  }
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 250px;
    }

    #wrapper.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper {
        width: 250px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }

    #page-content-wrapper {
        padding: 20px;

        padding-bottom:100px;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }

}