<template name="PlantProblemSearchForm">
	<legend>
		<h3>Search</h3>
	</legend>

	<div class="row well">
		<div class="col-lg-12">
			<form>
				{{#with savedPlantProblemData}}

				<div class="form-group row">
					<label for="type" class="col-sm-2 col-form-label">Type</label>
					<div class="col-sm-10" id="radio-type">
						<label class="radio-inline"><input type="radio" name="optradio" value="Pest">Pest</label>
						<label class="radio-inline"><input type="radio" name="optradio" value="Disease">Disease</label>
						<small id="typeHelp" class="form-text text-muted"></small>
					</div>
				</div>
				<div class="form-group row">
					<label for="cname" class="col-sm-2 col-form-label">Common Name</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" id="cname" aria-describedby="emailHelp" placeholder="Enter comon name" value="{{cname}}" data-role="tagsinput">
						<small id="cnameHelp" class="form-text text-muted"></small>
					</div>
				</div>
				<div class="form-group row">
					<label for="fname" class="col-sm-2 col-form-label">Filipino Name</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" id="fname" aria-describedby="emailHelp" placeholder="Enter Filipino name" value="{{fname}}" data-role="tagsinput">
						<small id="fnameHelp" class="form-text text-muted"></small>
					</div>
				</div>

				<div class="form-group row">
					<label for="sname" class="col-sm-2 col-form-label">Scientific Name</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" id="sname" aria-describedby="emailHelp" placeholder="Enter scientific name" value="{{sname}}" data-role="tagsinput">
						<small id="snameHelp" class="form-text text-muted"></small>
					</div>
				</div>

				<div class="form-group row">
					<label for="tstage" class="col-sm-2 col-form-label">Threatening Stage</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" id="tstage" aria-describedby="emailHelp" placeholder="Enter threatening stage" value="{{tstage}}" data-role="tagsinput">
						<small id="tstageHelp" class="form-text text-muted"></small>
					</div>
				</div>

				<div class="form-group row">
					<label for="paffected" class="col-sm-2 col-form-label">Plant Affected</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" id="paffected" aria-describedby="emailHelp" placeholder="Enter plant affected" value="{{paffected}}" data-role="tagsinput">
						<small id="paffectedHelp" class="form-text text-muted"></small>
					</div>
				</div>

				{{/with}}

				<div class="col-sm-2 col-form-label">
				</div>

				<div class="col-sm-10">
					<button type="submit" class="btn btn-primary">Search</button>
				</div>
			</form>
		</div>
	</div>

	<fieldset class="form-group">

		
		<legend>Results</legend>
		<div class="pull-right">
			{{result_count}}
		</div>
		
		<ul class="pager">
			<li class='prev {{set_prev_active}}'><a href="#">Previous</a></li>
			<li class='nex {{set_next_active}}'><a href="#">Next</a></li>
		</ul>
		<div class="row row-centered"> 
			{{#each d_results}}
			{{> PlantProblemResult}}
			{{/each}}
		</div>

	</fieldset>



</template>

<template name="PlantProblemResult">
	<div class="col-lg-2 col-md-3 col-centered portfolio-item">        
        <div class="image img-responsive" style="background: url({{image}}) center / cover;"></div>

        <div class="caption">
            <a href="{{pathFor 'PestProfile'}}">
                <h4>{{name}}</h4>
            </a>           
        </div>        
    </div>
</template>