<template name="SaraiPestsLib">
    <legend>
        <h3>Pests</h3>
    </legend>


    <div class="row row-centered">   
        {{#each displayPests}}
            {{> IndividualPest}}
        {{/each}}  
    </div>             
   
</template>

<template name="IndividualPest">
       
    <div class="col-lg-2 col-md-3 col-centered portfolio-item">        
        
        <div class="image img-responsive" style="background: url({{image}}) center / cover;"></div>

        <div class="caption">
            <a href="{{pathFor 'PestProfile'}}">
                <h4>{{name}}</h4>
            </a>           
        </div>
        
    </div>

</template>
    
