<template name="DiseaseProfile">
	<!--<legend>
        <h3>{{name}}</h3>
    </legend>-->


    <div class="spacer">
	</div>

	<span id="loading-ind" style="display:none">
	{{> spinner}}
	</span>
	
	<div class="col-lg-12">
		<div class="panel">
		<a href="{{pathFor 'diseases'}}">
            Diseases
        </a>  
        &nbsp;&nbsp;>&nbsp;
        {{name}}
        </div>
	</div>
	<!--<div class="col-lg-12">
			<h2>{{name}}</h2>
			<hr>
	</div>-->


	<div class="row">
		<div class="col-lg-12">
	      	<div class="col-lg-4">	    
	      		<div class="panel panel-default img-item">            		
          			<img class="img-responsive" src="{{image}}" alt="{{name}}">
          			<h3 class="text-center">{{name}}</h3>
          			
                  	<div class="row sub-info">
                  		<div class="top-line">
                  	
                  		<div class="col-lg-5">
                  			<b>Scientific Name</b>
                  		</div>
                  		<div class="col-lg-7">
                  			<p class="text-right">{{sci_name}}</p>
                  		</div>
                  		</div>
                  	</div>

          			          			  
          			<div class="row sub-info">
          			<div class="top-line">
          				<div class="col-lg-5">
                  			<b>Type</b>
                  		</div>
                  		<div class="col-lg-7">
                  			<p class="text-right">{{type}}</p>
                  		</div>
                  		</div>
                  	</div>
                  	

                  	<div class="row sub-info">
                  	<div class="top-line">
          				<div class="col-lg-5">
                  			<b>Plant Affected</b>
                  		</div>
                  		<div class="col-lg-7">
                  			<p class="text-right">{{plant_affected}}</p>
                  		</div>
                  		</div>
                  	</div>
                  	
                	         		
         		</div>	        	    	
	     	</div>
	      	<div class="col-lg-8">	      		
	      		<div class="panel panel-default bootcards-file">
	  				<div class="list-group">
	  					{{#if eng_name}}
	  					<div class="list-group-item">	  					
						    <div class="row">
						    	<div class="col-lg-3">
						      		<p><b>Common Names</b></p>					    	
						    	</div>
						    	<div class="col-lg-9">
						    		<p>{{eng_name}}</p>   	
						    	</div>
						    </div>
						</div>
						{{/if}}
						{{#if fil_name}}
						<div class="list-group-item">
						    <div class="row">
						    	<div class="col-lg-3">
						      		<p><b>Filipino Names</b></p>					    	
						    	</div>
						    	<div class="col-lg-9">
						    		<p>{{fil_name}}</p>   	
						    	</div>
						    </div>
						</div>
						{{/if}}
						<div class="list-group-item">
						    <div class="row">
						    	<div class="col-lg-3">
						      		<p><b>How to identify a {{name}}</b></p>					    	
						    	</div>
						    	<div class="col-lg-9">
						    		{{#if symptoms}}<p>{{symptoms}}</p>{{/if}}
						    		<p>{{description}}</p>  	
						    	</div>
						    </div>
						    
						</div>
						<div class="list-group-item">
						    <div class="row">
						    	<div class="col-lg-3">
						      		<p><b>How to manage {{name}}</b></p>					    	
						    	</div>
						    	<div class="col-lg-9">
						    		{{#if treatment}}<p>{{treatment}}</p>{{/if}}			    		  	
						    	</div>
						    </div>
						    
						</div>
					</div>    
					    


	  				
	  
				</div>
	      	</div>
	    </div>
	</div>

	{{#if currentUser}}

	<div class="col-lg-12 element">
	  <i class="fa fa-camera"></i><span class="name">Update the image</span>
	  <input class="myFileInput" style="display:none" type="file">
	</div>


	<div class="col-lg-12">
	  <i id="update-info" class="fa fa-pencil"></i><span class="info"> Update the Information</span>
	</div>

	{{/if}}
	
	<div id='spacer2' style='margin-bottom: 80px'>
		
	</div>
	<style>
		.element {
		  display: inline-flex;
		  align-items: center;
		}

		i.fa-pencil {
		  margin: 10px;
		  cursor: pointer;
		  font-size: 30px;
		}
		i.fa-camera {
		  margin: 10px;
		  cursor: pointer;
		  font-size: 30px;
		}
		i:hover {
		  opacity: 0.6;
		}
		input {
		  display: none;
		}
	</style>

	<script>
		$("i.fa-camera").click(function () {
		  $("input[type='file']").trigger('click');
		});

		$('input[type="file"]').on('change', function() {
		  var val = $(this).val();
		  $(this).siblings('span').text(val);
		})
	</script>

</template>