<template name="SaraiDiseasesLib">
    <legend>
        <h3>Diseases</h3>
    </legend>


    <div class="row row-centered">
    	{{#each displayDiseases}}
    		{{> IndividualDisease}}
    	{{/each}}
    </div>
</template>

<template name="IndividualDisease">
	

    <div class="col-lg-2 col-md-3 col-centered portfolio-item">
        <div class="image img-responsive" style="background: url({{image}}) center / cover;"></div>

                <div class="caption">
                        <a href="{{pathFor 'DiseaseProfile'}}">
                            <h4>{{name}}</h4>
                        </a>           
                    </div>             
    </div>


</template>


    

