<template name="header">



  <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <a class="navbar-brand" href="{{pathFor 'home'}}">
                {{ dict 'mainPage.title' 'Pests and Diseases Library' }}
              </a>

              <a href="#menu-toggle" class="menu-toggle navbar-brand" id="menu-toggle"><i class="fa fa-bars"></i></a>

            </div>

            <div class="collapse navbar-collapse navbar-responsive-collapse" id="bs-example-navbar-collapse-1">                

                <ul class="nav navbar-nav navbar-right">

                  {{#if currentUser}}
                  <li>
                    <a href="{{pathFor 'admin'}}">CMS Tool</a>
                  </li>
                  {{/if}}
                  
                  {{> loginButtons}}

                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    
  
</template>